.navbar {
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 10%;
    font-size: 20px;
    float: left;
    width: 15%;
    padding-top: 60px;
    display: block;
    float: left;
    height: 1000px;
}

ul {
    list-style-type: none; 
}

.socialmediarow {
    padding-left: 10px;
}

li a {
    display: block;
    width: 100px;
    text-decoration: none;  
    padding-left: 10px;
    padding-right: 10px;
}

li a:hover {
    background-color:deepskyblue;
    color: var(--main-text-color);
}


a:visited {
    color: var(--main-text-color);
}

.socialmediaimg {
    width: 25px;
    height: 25px;
}

