<p>Vegan restaurant specializing in vegan deep dish pizza, burgers and other creative vegan dishes. <br /><br />Offers dine in, take out, catering and delivery. BYOB with no corkage fee. <br /><br /></p>

<script src="//lightwidget.com/widgets/lightwidget.js"></script>
<iframe class="instagramwidget" src="//lightwidget.com/widgets/36585f21161050e8aaa8e0df7fbe8688.html" scrolling="no" allowtransparency="true"></iframe><br />

<br />
Written About Us: <br />
<br />
<a href="https://www.zagat.com/b/chicago/7-new-burgers-to-eat-around-chicago" target="_blank">Zagat</a><br />
<a href="http://vegnews.com/articles/page.do?pageId=6000&catId=2" target="_blank">Chicago Tribune</a><br />
<a href="http://vegnews.com/articles/page.do?pageId=6000&catId=2" target="_blank">Veg News</a><br />
<a href="http://www.chicagoreader.com/chicago/kitchen_17/Location?oid=9925476" target="_blank">Chicago Reader</a><br/>
<a href="http://www.chicagomag.com/Radar/Dish/May-2013/Little-Vegan-Place-Now-Open-in-East-Lake-View/" target="_blank">Chicago Mag</a><br />
