.header {
    padding-top: 30px;
    font-size: 300%;
    width: 100%;
    text-align: center;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: var(--main-text-color);
}

.socialmediablock {
    position: absolute;
    right: 200px;
}
.socialmediaimg {
    width: 35px;
    height: 35px;
}
