<p class="header">
    <a [routerLink]="['/aboutus']">Kitchen 17</a>
    <span class="socialmediablock">
        <a href="https://www.facebook.com/Kitchen17/" target="_blank"><img class="socialmediaimg" src="../../assets/img/fb.png" /></a>
        <a href="https://www.yelp.com/biz/kitchen-17-chicago" target="_blank"><img class="socialmediaimg" src="../../assets/img/yelp.png" /></a>
        <a href="https://www.instagram.com/kitchen17chicago/?hl=en" target="_blank"><img class="socialmediaimg" src="../../assets/img/instagram.png" /></a>
    </span>
</p>