table {
    table-layout: fixed;
    width: 400px;
}


.item-name {
    font-size: 150%;
    font-weight: bold;
}

.item-price {
    margin-left: 10px;
}

.name-and-desc {
    text-align: left;
    width: 380px;
}

.price-and-order {
    text-align: right;
    width: 20px;
}
