/*table {
    table-layout: fixed;
    width: 400px;
}*/


.item-name {
    font-size: 120%;
    --font-weight: bold;
}

.item-price {
    /*--margin-left: 10px;--*/
}

.item-description {
    word-break: break-all;
    word-wrap: break-word;
    font-size: 80%;
}

.name-and-desc {
    text-align: left;
    width: 320px;
    overflow-wrap: break-word;
    /*width: 80%;*/
}

.price-and-order {
    text-align: right;
    width: 80px;
    word-wrap: break-word;
    /*width: 20%;*/
}
