table {
  table-layout: fixed;
}

.item-name {
    font-size: 150%;
    font-weight: bold;
}

.item-price {
    margin-left: 10px;
}

.name-and-desc {
    text-align: left;
    width: 50%;
}

.price-and-order {
    text-align: right;
    width: 50%;
}
