<table>
    <thead>
        <tr>
          <th hidden class="row-1 name-and-desc">name and desc</th>
          <th hidden class="row-2 price-and-order">price and order</th>
        </tr>
    </thead>
    <tbody>
        <ng-container  *ngFor="let category of categories">
            <tr class="menucategory">
                {{category.name}}
                <span class="category-description">{{category.description}}</span>
            </tr>
            <ng-container *ngFor="let item of items">
               <ng-container *ngIf="item.category === category.name">
                   <tr><menu-item [item]="item"></menu-item></tr>
               </ng-container>
            </ng-container>
        </ng-container>
    </tbody>
</table>