body {
    background-color: black;
    font-family: proxima-nova;
    color: white;
    line-height: 150%;
    font-weight: 500;
}


.maincontent {
    /*position: relative;
    top: 60px;
    float: left;*/
    padding-top: 60px;
    transition: margin-left .5s;
    width: 80%;
    line-height: 1.5em;
    letter-spacing: 0.06em;
    font-size: 12.5;
}

